# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/history.json
backend/.deepface/
__pycache__/
*.pyc
*.pyo
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
