fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
deepface==0.0.93
tf-keras==2.16.0
tensorflow-cpu==2.16.1
opencv-python-headless==4.9.0.80
Pillow>=10.4.0
textblob==0.18.0
numpy==1.26.4
tinydb==4.8.0
python-dateutil==2.9.0
